<config>
	<category name="internal" visible="false">
		<key name="jibe.mainwindow.width" type="integer" default="640"/>
		<key name="jibe.mainwindow.height" type="integer" default="480"/>
	</category>
	
	<category name="editor" label="Text Editor">
		<key name="jibe.editor.font" type="font" default="Monospace" fixedpitch="true">
			The font used in the text editor buffers
		</key>
		<key name="jibe.editor.fontsize" type="integer" default="10" range="6-24">
			The font size used in the text editor buffers
		</key>
	</category>
</config>
